.infobox{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.tablebox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.infofont{
    font-size: 25px;
    font-family: sans-serif;
}

.btnbox{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#back-to-itempage{
    background-color: lightgrey;
    border-radius: 5%;
    padding: 5px;
    margin-left: 10px;
}

#proceed-to-checkout{
    margin-right: 10px;
    background-color: lightgrey;
    border-radius: 5%;
    padding: 5px;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

table{

}

th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-style: sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}